.pointer {
    cursor: pointer;
}

.logo {
    width: 130px;
}

.nav-active {
    font-weight: 700;
    background: linear-gradient(180deg, #9DFFB3 0%, #1AA37A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #1AA37A;
    background-clip: text;
}

.desktop-profile-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: end
}

.stories-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    backdrop-filter: blur(15px);
    z-index: 100;
}

.stories-close-icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 3px;
}

.stories-close-icon-container > img {
    width: 24px;
    height: 24px;
}

.news-video {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

.video-container {
    position: relative;
}

.play-icon-container {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 40%;
    left: 43%
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper_img_1 {
    display: block;
    width: 100%;
    height: 100%;
}

.swip_img_1 {
    display: block;
    object-fit: cover;
    width: 25%;
    height: 100%;
}

.card-info-btn-img {
    width: 36px;
    height: 36px;
}

.mySwiperCard {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-slide-detail {
    /*width: 90% !important;*/
    opacity: 1;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.saved-icon {
    width: 14px;
    height: 20px;
}

.flag-icon {
    width: 24px;
    height: 24px;
}

.none {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    color: white;
    opacity: 1;
    display: block;
    background: url(/public/img/Calendar.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

select {
    background: url(/public/img/filter-icon.svg) no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 98%;
    background-position-y: 15px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

input {
    color: #1AA37A;
}

.foot_img {
    width: 100px;
}

.navbar-avatar {
    width: 46px;
    height: 46px;
}

.user-name {
    margin-right: 32px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.001em;
    color: #FFFFFF
}

.swiper-pagination-bullet-active {
    background: #1AA37A;;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.news-detail-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding: 0 20px 20px;
}


.news-detail-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding: 0 20px 20px;
    text-align: justify;
}

.news-detail-video-container {
    position: relative;
}

.news-detail-play-icon-container {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 45%;
}

.news-detail-video-image {
    width: 100%;
    height: 400px;
}

.news-detail-image {
    width: 80%;
}

.filter-main {
    position: absolute;
    height: auto;
    width: 664px;
    top: 100%;
    left: 29%;
    border-radius: 8px;
    border: 2px solid #1AA37A;
    padding: 0;
    z-index: 100;
}

.filter-container {
    backdrop-filter: blur(15px);
    background:  rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

.arrow-icon {
    position: absolute;
    top: -2%;
    left: 65%;
}

.filter-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.001em;
    text-align: left;
}

.filter-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.001em;
    text-align: left;
    color: rgba(226, 226, 226, 1)

}

.filter-input {
    padding-left: 18px;
    height: 46px;
    width: 96%;
    background: rgba(255, 255, 255, 0.15);
    border: 1.84534px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 7.23636px 35.2773px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(27.2187px);
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    margin-top: 8px;
}

.filter-select {
    width: 96%;
    height: 46px;
    border: 1.84534px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 7.23636px 35.2773px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(27.2187px);
    border-radius: 8px;
    outline: none;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    margin-top: 8px;
    background-image: url(/public/img/filter-icon.svg);
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 98%;
    background-position-y: 15px;
    padding: 0 12px 0 12px;
}

.filter-search-button {
    height: 46px;
    border: none;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1AA37A;
    box-shadow: 0 0 9px rgba(157, 255, 179, 0.3);
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.filter-search-icon {
    width: 20px;
    height: 20px;
}

.filter-delete-button {
    padding: 0 18px;
    text-decoration: none;
    height: 46px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(26, 163, 122, 0.7);
    border-radius: 8px;
    margin-top: 24px;
    margin-left: 10px;
    justify-content: center;
}

.mobile-menu-main-container {
    display: none;
}

.hamburger {
    display: none;
}

.scrolling-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-see-all-container {
    display: none;
}

.head_auct_cat_btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.001em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 18px;
    border: none;
    background: #1AA37A;
    box-shadow: 0 0 9px rgba(157, 255, 179, 0.3);
    border-radius: 8px;
}

.head_auct_cat_btn img {
    margin-left: 12px;
}

.payment-image {
    max-height: 88px;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
